In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [9]:
nethept_data = pd.read_csv("../../data/nethept/logs/imm.csv")
dblp_data = pd.read_csv("../../data/dblp/logs/imm.csv")
youtube_data = pd.read_csv("../../data/youtube/logs/imm.csv")
livejournal_data = pd.read_csv("../../data/livejournal/logs/imm.csv")
orkut_data = pd.read_csv("../../data/orkut/logs/imm.csv")
twitter_data = pd.read_csv("../../data/twitter/logs/imm.csv")

In [10]:
twitter_data.head()

,fileName,k,epsilon,startDatetime,endDatetime,duration,seedSize,estimatedScore
0,twitter,50,0.5,Wed Nov 7 15:32:55 2018,Wed Nov 7 15:33:31 2018,35.6980,50,9033690.0
1,twitter,50,0.5,Thu Nov 8 10:08:11 2018,Thu Nov 8 10:08:46 2018,35.4103,50,9033690.0
2,twitter,50,0.1,Thu Nov 8 10:08:46 2018,Thu Nov 8 10:12:54 2018,248.3250,50,8862570.0
3,twitter,100,0.5,Thu Nov 8 10:12:55 2018,Thu Nov 8 10:13:24 2018,29.9393,100,10840900.0
4,twitter,100,0.1,Thu Nov 8 10:13:25 2018,Thu Nov 8 10:15:48 2018,143.1520,100,10842000.0